<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    <!--打开Spring的Annotation支持 -->
    <context:annotation-config></context:annotation-config>
    <!--设定Spring去哪些包中找Annotation -->
    <context:component-scan base-package="com.ioc.test"></context:component-scan>
    <aop:config>
        <aop:aspect id="myLogAspect" ref="logAspect">
            <!--在哪些位置加入相应的Aspect -->
            <aop:pointcut id="logPointCut" expression="execution(* com.ioc.test.dao.*.add*(..))||execution(* com.ioc.test.dao.*.delete*(..))"/>
            <aop:before method="logStart" pointcut-ref="logPointCut"/>
            <aop:after method="logEnd" pointcut-ref="logPointCut"/>
            <aop:around method="logAround" pointcut-ref="logPointCut"/>
        </aop:aspect>
    </aop:config>
</beans>